/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 6in;

  > input {
    flex-grow: 1;
    flex-shrink: 0;
    width: 1rem;
  }

  > button
  {
    margin-left: 0.5rem;
  }
}

.more-button {
  position: relative;
  padding-right: 0.5rem;

  .filter-count {
    position: absolute;
    top: 0.25rem;
    right: 0;
    background-color: rgb(var(--color-link-and-button));
    color: rgb(var(--color-text-on-button));
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    display: block;
    text-align: center;
    line-height: 1rem;
    font-size: 80%;
  }
}

.exact-match {
  position: relative;
  color: rgb(var(--color-link-and-button));
  opacity: 1;
  cursor: pointer;
  align-self: center;

  > input {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
  }

  > i {
    box-sizing: content-box;
    padding: 0.65rem 0.5rem 0.65rem 0.25rem;
    display: block;
    width: 16px;
    text-align: center;
  }
}