<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Hattier</h2>
  <app-npc-dialog [name]="npcName" [npc]="npcImage">
    <markdown [data]="hattierDialog"></markdown>
  </app-npc-dialog>
  @if(!myPetsAjax.closed)
  {
    <app-loading-throbber />
  }
  @else
  {
    <div>
      <section>
        <ul class="dialog-choices">
          @if(isOctober)
          {
            <li><a routerLink="/hattier/illusionist" class="button"><img src="/assets/images/ui/halloween.svg" alt="Halloween"> "What are you selling?"</a></li>
          }
          <li><a routerLink="/hattier/collection" class="button">"Can you show me details about the styles I've found?"</a></li>
        </ul>
        <div style="padding-top:1rem">
          @for(pet of pets; track pet.id)
          {
            <app-pet-customer [pet]="pet" (select)="doSelectPet(pet)" />
          }
        </div>
      </section>
    </div>
  }
</main>
