/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
@font-face {
  font-family: 'icons';
  src: url('/assets/fonts/icons2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: icons;
  font-style: normal;

  &.feed:before { content: "\e900"; }
  &.cook-or-combine:before { content: "\e901" }
  &.hamburger:before { content: "\e902" }
  &.moneys:before { content: "\e903" }
  &.sell:before { content: "\e903" }
  &.recycle:before { content: "\e904" }
  &.move:before { content: "\e905" }
  &.equipment-bonus:before { content: "\e90b" }
  &.hollow-earth-tile:before { content: "\e90a" }

  // replaced by fontawesome
  /*
  &.equipment:before { content: "\e906" }
  &.flammable:before { content: "\e907" }
  &.hat:before { content: "\e908" }
  &.fertilizer:before { content: "\e909" }
  */
}
