<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Rename... Yourself!</h2>
  <p>It costs 500 Favor with the Museum to rename yourself. Probably for annoying <em>"game balance"</em> reasons, or something! (Ugh! "Game balance"! Such a party pooper!)</p>
  <form (submit)="doRename()" [class.disabled]="renaming">
    <p>
      <label for="newName">Name</label>
      <input type="text" name="newName" id="newName" [placeholder]="user.name" [(ngModel)]="newName" autocomplete="off">
    </p>
    <div class="buttons">
      <button type="submit">Rename (500 Favor)</button>
    </div>
  </form>
</main>
