<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
@let str = Math.max(0, Math.min(100, strength()));
<div class="fireplace">
  <div class="fire">
    @if(str > 0)
    {
      <div class="fire-red">
        <div class="flame" [style.height.px]="135 * str / 100"></div>
        <div class="flame" [style.height.px]="200 * str / 100"></div>
        <div class="flame" [style.height.px]="250 * str / 100"></div>
        <div class="flame" [style.height.px]="300 * str / 100"></div>
        <div class="flame" [style.height.px]="260 * str / 100"></div>
        <div class="flame" [style.height.px]="190 * str / 100"></div>
        <div class="flame" [style.height.px]="115 * str / 100"></div>
      </div>
      <div class="fire-orange">
        <div class="flame" [style.height.px]="115 * str / 100"></div>
        <div class="flame" [style.height.px]="175 * str / 100"></div>
        <div class="flame" [style.height.px]="210 * str / 100"></div>
        <div class="flame" [style.height.px]="250 * str / 100"></div>
        <div class="flame" [style.height.px]="215 * str / 100"></div>
        <div class="flame" [style.height.px]="135 * str / 100"></div>
        <div class="flame" [style.height.px]="90 * str / 100"></div>
      </div>
      <div class="fire-yellow">
        <div class="flame" [style.height.px]="115 * str / 100"></div>
        <div class="flame" [style.height.px]="145 * str / 100"></div>
        <div class="flame" [style.height.px]="165 * str / 100"></div>
        <div class="flame" [style.height.px]="165 * str / 100"></div>
        <div class="flame" [style.height.px]="120 * str / 100"></div>
      </div>
      <div class="fire-white">
        <div class="flame" [style.height.px]="85 * str / 100"></div>
        <div class="flame" [style.height.px]="100 * str / 100"></div>
        <div class="flame" [style.height.px]="140 * str / 100"></div>
        <div class="flame" [style.height.px]="175 * str / 100"></div>
        <div class="flame" [style.height.px]="140 * str / 100"></div>
        <div class="flame" [style.height.px]="90 * str / 100"></div>
        <div class="flame" [style.height.px]="85 * str / 100"></div>
      </div>
    }
    @else
    {
      <p class="oh-dang">Your fireplace has no fire!</p>
    }
  </div>
  <div class="log" [title]="str + '%'">
    <div
      [style.width.%]="str"
      role="progressbar"
      [attr.aria-valuenow]="str"
    ></div>
  </div>
</div>
