<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2><a [routerLink]="[ '/poppyopedia' ]">Poppyopedia</a> » Items</h2>
  <p><app-item-search [filters]="search" (filtersChange)="doSearch($event)" /></p>
  @if(!results)
  {
    <p><app-loading-throbber /></p>
  }
  @else
  {
    <p>
      Found {{ results.resultCount }} {{ results.resultCount === 1 ? 'item' : 'items' }}.
      @if(user|hasUnlockedFeature:'Market')
      {
        <small><a [routerLink]="[ '/market' ]" [queryParams]="queryParams">(Search the Market.)</a></small>
      }
    </p>
    @if(results.resultCount)
    {
      <p><app-url-paginator path="/poppyopedia/item" [page]="page" [pageCount]="results.pageCount" [params]="{ filter: search }" /></p>
      <div class="items" [class.disabled]="!searchAjax.closed">
        @for(item of results.results; track item.id)
        {
          <a [routerLink]="[ '/poppyopedia/item/' + item.name ]" class="button link-text">
            <img [src]="'/assets/images/items/' + item.image + '.svg'" alt="" />
            <div class="name link-text">{{ item.name }}</div>
          </a>
        }
      </div>
      <p><app-url-paginator path="/poppyopedia/item" [page]="page" [pageCount]="results.pageCount" [params]="{ filter: search }" /></p>
    }
  }
</main>
