/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.5rem;

  > li {
    display: block;

    button {
      text-align: center;
      display: block;
      width: 1.5in;
      min-height: calc(1in + 2.5rem);
      padding: 0.25rem 0.5rem;
      position: relative;

      @media (max-width: 380px)
      {
        width: 1.40in;
      }
    }

    app-pet-appearance {
      display: block;
      margin: 0 auto;
      width: 1in;
    }

    &.selected {
      outline: 2px solid rgb(var(--color-primary));
    }
  }
}

small {
  display: block;
}

app-svg-icon
{
  position: absolute;
  top: calc(1in - 1em);
  right: 1em;
  width: 1em;
  height: 1em;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(var(--color-speech-bubble-background));
  padding: 0.25em;
}