img.appearance {
  width: 1in;
  height: 1in;
  display: block;
  margin: 0 0 0.5rem 0.5rem;
  float: right;
}

.gain,.loss {
  display: block;
}

.halloween {
  display: inline-block;
  margin: 0;
  width: 1rem;
  height: 1rem;
}
