<main>
  <small><a [routerLink]="[ '/poppyopedia' ]">Poppyopedia</a> » <a [routerLink]="[ '/poppyopedia/guild' ]">Guilds</a> »</small>
  @if(guild)
  {
    <h2>{{ guild.name }}</h2>
    <div class="guild-info">
      <div>
        <img [src]="'/assets/images/guilds/' + guild.emblem + '.svg'" alt="guild emblem" class="emblem">
      </div>
      <div>
        @if(guild.quote)
        {
          <q>{{ guild.quote }}</q>
        }
        <h5>Favored Tool</h5>
        <div>
          <img [src]="'/assets/images/items/' + guild.starterTool.image + '.svg'" alt="" aria-hidden="true">
          {{ guild.starterTool.name }}
        </div>
      </div>
    </div>
  }
  @if(!guildMembers)
  {
    <p><app-loading-throbber/></p>
  }
  @else
  {
    <h4>Members</h4>
    @if(guildMembers.unfilteredTotal === 0)
    {
      <p>No pets have joined this guild!</p>
    }
    @else
    {
      @if(guildMembers.pageCount > 1)
      {
        <app-paginator [page]="guildMembers.page" [pageCount]="guildMembers.pageCount" (pageChange)="doChangePage($event)" />
      }
      <table [class.disabled]="!guildAjax.closed">
        <thead>
          <tr>
            <th></th>
            <th>Pet</th>
            <th>Rank</th>
            <th>Joined</th>
          </tr>
        </thead>
        <tbody>
          @for(member of guildMembers.results; track member.id)
          {
            <tr tabindex="0" [routerLink]="['/poppyopedia/pet/' + member.id]">
              <td><app-pet-appearance [pet]="member" [showTool]="false" [showHat]="false" size="0.5in" /></td>
              <td class="link-text">{{ member.name }}</td>
              <td>{{ member.guildMembership.rank }}</td>
              <td><app-date-only [dateString]="member.guildMembership.joinedOn" /></td>
            </tr>
          }
        </tbody>
      </table>
      @if(guildMembers.pageCount > 1)
      {
        <app-paginator [page]="guildMembers.page" [pageCount]="guildMembers.pageCount" (pageChange)="doChangePage($event)" />
      }
    }
  }
</main>
