<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Renaming Scroll</h2>
  @if(state === 'findPet')
  {
    <div>
      <h4>Which Pet's Spirit Companion?</h4>
      <app-select-pet (selected)="doShowRename($event)" [disableCondition]="disableCondition" />
    </div>
  }
  @else if(state === 'renamePet')
  {
    @if(!pet.spiritCompanion)
    {
      <p>{{ pet.name }} has no spirit companion.</p>
    }
    @else
    {
      <form (submit)="doRename()" [class.disabled]="renaming">
        <h4>Rename {{ pet.spiritCompanion.name }}...</h4>
        <p>
          <label for="newName">Name</label>
          <input type="text" name="newName" id="newName" [placeholder]="pet.spiritCompanion.name" [(ngModel)]="newName" autocomplete="off">
        </p>
        <div class="buttons">
          <button type="button" (click)="doCancelRename()">Wait, No...</button>
          <button type="submit">Rename</button>
        </div>
      </form>
    }
  }
</main>
