<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Lengthy Scroll of Skill</h2>

  <div [hidden]="state !== 'findPet'" [class.disabled]="loading">
    <h4>
      Which Pet?
      @if(loading)
      {
        <app-loading-throbber text="" />
      }
    </h4>
    <app-select-pet (selected)="doSelectPet($event)" />
  </div>

  @if(state === 'extolSkill')
  {
    <form (submit)="doExtol()" [class.disabled]="loading">
      <h4>Which Skill Will {{ pet.name }} Extol?</h4>
      <label style="padding-bottom:0.5rem">The chosen skill will increase by <em>two</em> points! Only skills with at least 10 points may be improved in this way, and no skill can be improved above 20! (20's the absolute max any skill can be!)</label>
      @if(skills.length === 0)
      {
        <p>{{ pet.name }} does not have any skills that can be increased in this way...</p>
      }
      @else
      {
        <p>
          @for(skill of skills; track skill)
          {
            <label [for]="'extol' + skill" class="radio-checkbox">
              <input [id]="'extol' + skill" type="radio" name="extol" [(ngModel)]="extol" [value]="skill">{{ skill|titlecase }} ({{pet.skills[skill].base}} &rarr;
              @if(pet.skills[skill].base >= 18)
              {
                20!
              }
              @else
              {
                {{ pet.skills[skill].base + 2 }}
              }
            </label>
          }
        </p>
      }
      <p class="buttons">
        <button type="button" (click)="state = 'findPet'">&larr; Back</button>
        <button type="submit" [class.disabled]="!extol">Extol!</button>{{ ' ' }}
        @if(loading)
        {
          <app-loading-throbber text=""/>
        }
      </p>
    </form>
  }
</main>
