<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <nav class="tabs-container">
    <div class="tabs">
      <a routerLink="/achievements">Unclaimed</a>
      <a routerLink="/achievements/claimed">Claimed</a>
      <a class="active" routerLink="/achievements/showcase">Showcase</a>
      <a routerLink="/achievements/petBadges">Pet Badges</a>
    </div>
  </nav>

  @if(!showcasePage)
  {
    <app-loading-throbber />
  }
  @else
  {
    @if(showcasePage.pageCount > 1)
    {
      <p><app-url-paginator [page]="showcasePage.page" [pageCount]="showcasePage.pageCount" path="/achievements/showcase" /></p>
    }
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Achievos</th>
          <th>Resident</th>
        </tr>
      </thead>
      <tbody>
        @for(result of showcasePage.results; let i = $index; track i)
        {
          <tr (click)="doViewPlayer(result.resident.id)">
            <td>#{{ i + showcasePage.page * showcasePage.pageSize + 1 }}</td>
            <td>{{ result.achievementCount }}</td>
            <td><a [routerLink]="'/poppyopedia/resident/' + result.resident.id"><app-player-name [player]="result.resident" /></a></td>
          </tr>
        }
      </tbody>
    </table>
    @if(showcasePage.pageCount > 1)
    {
      <p><app-url-paginator [page]="showcasePage.page" [pageCount]="showcasePage.pageCount" path="/achievements/showcase" /></p>
    }
  }
</main>