<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <small><a routerLink="/poppyopedia">Poppyopedia</a> » <a routerLink="/poppyopedia/designGoal">Design Goals</a> »</small>
  @if(!designGoal)
  {
    <p><app-loading-throbber/></p>
  }
  @else
  {
    <h2>{{ designGoal.name }}</h2>
    <div style="margin-bottom:1rem">
      <markdown [data]="designGoal.description"></markdown>
      <p class="author">~ Ben</p>
    </div>

    <h3>Related Announcements</h3>

    @if(results && results.pageCount > 1)
    {
      <app-paginator [(page)]="page" [pageCount]="results.pageCount" (change)="doSearch()" />
    }

    @if(!articleSearchAjax.closed)
    {
      <p><app-loading-throbber/></p>
    }
    @else
    {
      @if(results.unfilteredTotal === 0)
      {
        <p>No announcements found.</p>
      }
      @for(article of results.results; track article.id)
      {
        <div class="speech-bubble news-article">
          <header>
            <h3>
              {{ article.title }}
              <small>written {{ article.createdOn|date:'yyyy-MM-dd':'UTC' }} <app-psp-time [date]="article.createdOn" /></small>
            </h3>
          </header>
          <markdown [data]="article.body" />
          <app-list-design-goals [goals]="article.designGoals" />
        </div>
      }

      @if(results.pageCount > 1)
      {
        <app-paginator [(page)]="page" [pageCount]="results.pageCount" (change)="doSearch()" />
      }
    }
  }
</main>