<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
@if(!done)
{
  <p>Enter the e-mail address associated with your account; an e-mail will be sent to you with instructions for resetting your passphrase.</p>
  <form (submit)="doRequestReset()" [class.disabled]="loading">
    <p>
      <label for="email">E-mail Address</label>
      <input type="email" id="email" name="email" [(ngModel)]="email">
    </p>
    <p class="buttons">
      <button type="submit">Send</button>
      @if(loading)
      {
        <app-loading-throbber text=""/>
      }
    </p>
  </form>
}
@else
{
  <p>Done! You should receive the e-mail in a minute or two. Check your e-mail, and don't forget to check your junk folder, juuuuuuust in case!</p>
}
