/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.choose-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0.5em;

    @media (max-width: 480px) {
      flex-direction: row;
    }

    > i {
      font-size: 3em;
      width: 1.2em;
      text-align: center;

      @media (max-width: 480px) {
        font-size: 2.5em;
      }
    }
  }
}

.show-offspring > app-image {
  display: block;
  margin: 0 auto 1em;
  width: min-content;
}