<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
@let i = item();
<div class="tags">
  @if(i.hat)
  {
    <i class="{{ itemOtherPropertiesIcons.Hat }}" role="img" aria-label="hat"></i>
  }
  @if(i.greenhouseType == 'earth')
  {
    <i class="{{ itemOtherPropertiesIcons.SeedlingEarth }}" role="img" aria-label="seed"></i>
  }
  @else if(i.greenhouseType == 'dark')
  {
    <i class="{{ itemOtherPropertiesIcons.SeedlingDark }}" role="img" aria-label="seed (dark)"></i>
  }
  @else if(i.greenhouseType == 'water')
  {
    <i class="{{ itemOtherPropertiesIcons.SeedlingWater }}" role="img" aria-label="seed (water)"></i>
  }
  @if(i.isFlammable)
  {
    <i class="{{ itemOtherPropertiesIcons.Flammable }}" role="img" aria-label="fire"></i>
  }
  @if(i.isFertilizer)
  {
    <i class="{{ itemOtherPropertiesIcons.Fertilizer }}" role="img" aria-label="poop"></i>
  }
  @if(i.isTreasure)
  {
    <i class="{{ itemOtherPropertiesIcons.Treasure }}" role="img" aria-label="gem"></i>
  }
  @if(i.recycleValue > 0)
  {
    <app-recycling-points [amount]="i.recycleValue" />
  }
  @if(i.itemGroups && i.itemGroups.length > 0)
  {
    @for(group of i.itemGroups; track group.name)
    {
      <a routerLink="/poppyopedia/item" [queryParams]="{'filter.itemGroup': group.name }" (click)="doNav()" class="button item-group">{{ group.name }}</a>
    }
  }
</div>
