<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <nav class="tabs-container">
    <div class="tabs">
      <a class="active" routerLink="/achievements">Unclaimed</a>
      <a routerLink="/achievements/claimed">Claimed</a>
      <a routerLink="/achievements/showcase">Showcase</a>
      <a routerLink="/achievements/petBadges">Pet Badges</a>
    </div>
  </nav>

  @if(!available)
  {
    <app-loading-throbber />
  }
  @else
  {
    <div class="achievements">
      @for(a of available; track a.badge)
      {
        <div>
          <img [style.background]="a.badge|badgeBackground" [src]="a.badge|badgeImage" alt="" aria-hidden="true" />
          <h3>{{ a.badge|badgeTitle }}</h3>
          <p><markdown [data]="a.badge|badgeDescription" /></p>
          <p class="reward">Reward:</p>
          <app-describe-trader-cost-or-yield [costOrYield]="a.reward" />
          @if(a.done)
          {
            <button type="button" (click)="doClaim(a.badge)" [class.disabled]="!claimingReward.closed">Claim!</button>
          }
          @else
          {
            <app-badge-progress [progress]="a.progress" />
          }
        </div>
      }
    </div>
  }
</main>