<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<ul class="list">
  <li><a [routerLink]="[ '/poppyopedia/resident' ]">View directory</a></li>
</ul>
@if(!results)
{
  <p><app-loading-throbber [randomText]="true"/></p>
}
@else if(results.resultCount === 0)
{
  <p>No one is following you. (Yet?)</p>
}
@else
{
  <div>
    @if(results.pageCount > 1)
    {
      <app-paginator [page]="results.page" (pageChange)="doChangePage($event)" [pageCount]="results.pageCount"/>
    }
    <table>
      <thead>
        <tr>
          <th>Resident</th>
          <th>Last Seen</th>
        </tr>
      </thead>
      <tbody>
        @for(friend of results.results; track friend.id)
        {
          <tr [routerLink]="[ '/poppyopedia/resident/' + friend.id ]" tabindex="0">
            <td class="link-text"><app-player-name [player]="friend" [includeNumber]="true" /></td>
            <td><app-date-and-time [dateString]="friend.lastActivity" /></td>
          </tr>
        }
      </tbody>
    </table>
    @if(results.pageCount > 1)
    {
      <app-paginator [page]="results.page" (pageChange)="doChangePage($event)" [pageCount]="results.pageCount"/>
    }
  </div>
}
