<table class="skills-table">
  <tbody>
  <tr>
    <th>Strength</th>
    <td><app-stars [value]="attributes.strength" /></td>
    <td><app-pet-skill-modifiers [skill]="attributes.strength" /></td>
  </tr>
  <tr>
    <th>Stamina</th>
    <td><app-stars [value]="attributes.stamina" /></td>
    <td><app-pet-skill-modifiers [skill]="attributes.stamina" /></td>
  </tr>
  <tr>
    <th>Dexterity</th>
    <td><app-stars [value]="attributes.dexterity" /></td>
    <td><app-pet-skill-modifiers [skill]="attributes.dexterity" /></td>
  </tr>
  <tr>
    <th>Perception</th>
    <td><app-stars [value]="attributes.perception" /></td>
    <td><app-pet-skill-modifiers [skill]="attributes.perception" /></td>
  </tr>
  <tr>
    <th>Intelligence</th>
    <td><app-stars [value]="attributes.intelligence" /></td>
    <td><app-pet-skill-modifiers [skill]="attributes.intelligence" /></td>
  </tr>
  </tbody>
</table>

