<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <nav class="tabs-container">
    <h2><a routerLink="/museum">Museum</a> » Donate</h2>
    <div class="tabs" [class.disabled]="donating">
      <a [routerLink]="['/museum/donate']">New Donations</a>
      <a class="active" [routerLink]="['/museum/upgrade']">Re-donate</a>
    </div>
  </nav>
  @if(loading)
  {
    <p><app-loading-throbber [randomText]="true"/></p>
  }
  @else if(results)
  {
    @if(results.resultCount === 0)
    {
      <p>You don't have any items that can upgrade an existing donation.</p>
    }
    @else
    {
      <p>These are items you've already donated, but your Museum copy was made by someone else. You now own a copy <em>you</em> made &mdash; donating again will replace the Museum entry to show your name as the maker!</p>
      <hr>
      @if(results.pageCount > 1)
      {
        <p class="buttons">
          <button type="button" (click)="doDonate()">Donate</button>
        </p>
        <app-paginator [pageCount]="results.pageCount" [(page)]="page" (change)="doSearch()"/>
      }
      <div class="inventory">
        @for(i of results.results; track i.id)
        {
          <div>
            <app-inventory-item
              [inventory]="i"
              [class.selected]="i.selected"
              tabindex="0"
              (click)="doClickItem(i)"
              role="checkbox"
              [attr.aria-checked]="i.selected ? 'true' : 'false'"
            />
          </div>
        }
      </div>
      @if(results.pageCount > 1)
      {
        <app-paginator [pageCount]="results.pageCount" [(page)]="page" (change)="doSearch()"/>
      }
      <div class="buttons" style="margin-top:0.5rem">
        <button type="button" (click)="doDonate()">Donate</button>
      </div>
    }
  }
</main>
