/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
app-inventory-item {
  cursor: pointer;
}

.inventory {
  margin: 0.5rem 0;

  > div {
    position: relative;
  }
}

.fairyComplaint {
  position: absolute;
  top: -0.25in;
  left: 0.125in;
  width: 0.5in;
  height: 0.25in;
  pointer-events: none;
  opacity: 0;
  animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
  0% { opacity: 0 }
  33% { opacity: 1 }
  100% { opacity: 0 }
}
