app-inventory-item {
  cursor: pointer;
}

.inventory {
  margin: 0.5rem 0;

  > div {
    position: relative;
  }
}

.fairyComplaint {
  position: absolute;
  top: -0.25in;
  left: 0.125in;
  width: 0.5in;
  height: 0.25in;
  pointer-events: none;
  opacity: 0;
  animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
  0% { opacity: 0 }
  33% { opacity: 1 }
  100% { opacity: 0 }
}
