<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <app-settings-panel page="Audio">
    <p>Sound is in very early development! There's currently very few sounds (rolling dice in the Hollow Earth, and opening letters at the Mailbox)</p>
    <p>
      <label>Sounds</label>
      <label class="radio-checkbox" for="soundsYes" (click)="doSetSoundVolume(1)"><input type="radio" id="soundsYes" [checked]="soundVolume === 'on'"> Yes</label>
      <label class="radio-checkbox" for="soundsNo" (click)="doSetSoundVolume(0)"><input type="radio" id="soundsNo" [checked]="soundVolume === 'off'"> No</label>
    </p>
    <p>
      <label>Music</label>
      <label class="radio-checkbox" for="musicYes" (click)="doSetMusicVolume(1)"><input type="radio" id="musicYes" [checked]="musicVolume === 'on'"> Yes</label>
      <label class="radio-checkbox" for="musicNo" (click)="doSetMusicVolume(0)"><input type="radio" id="musicNo" [checked]="musicVolume === 'off'"> No</label>
    </p>
  </app-settings-panel>
</main>
