/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.badges {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));;
  margin: 0 auto;
  gap: 1em;
}

.badge {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: rgb(var(--color-speech-bubble-background));
  color: rgb(var(--color-text-on-content-background));
  border-radius: 5px;
  padding: 0.5em;
  align-items: center;

  &.unachieved {
    > img {
      filter: grayscale(1);
    }
  }

  > img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  > .name {
    text-align: center;
  }

  > .deets {
    margin-top: auto;
    font-size: 80%;
    display: grid;
    width: 100%;
    grid-template-columns: auto 30px;
    gap: 0.5em;

    > span {
      display: flex;
      flex-direction: row;
      gap: 0.25em;
      align-items: center;
    }
  }
}