<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Transmigration Serum</h2>

  @if(state === 'findPet')
  {
    <div [class.disabled]="loading">
      <h4>Which Pet?</h4>
      <app-select-pet (selected)="doShowInject($event)" />
    </div>
  }
  @else if(state === 'injectPet')
  {
    <div [class.disabled]="loading">
      <h4>Transmigrate {{ pet.name }} Into...</h4>
      @if(possiblePets.length === 0)
      {
        <p>There are no species that {{ pet.name }} can transmigrate into.</p>
      }
      @else
      {
        <div class="species">
          @for(newPet of possiblePets; track $index)
          {
            <div (click)="doInject(newPet.species)" tabindex="0">
              <app-pet-appearance [pet]="newPet" size="1in" [showTool]="false" [showHat]="false" />
              <span class="link-text">{{ newPet.species.name }}</span>
            </div>
          }
        </div>
      }
      <p><button type="button" (click)="doCancelInject()">Wait, no, not {{ pet.name }}...</button></p>
    </div>
  }
</main>
