.pet {
  padding-right: 0;
  padding-left: 0.25rem;

  > * {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  > a > app-pet-appearance {
    display: block;
    padding: 0;
  }

  > .activity-log-icon {
    padding-top: 0.25rem;
    float: none;
  }
}

.entry {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;

  > .pet > img {
    display: block;
    width: 1.3333rem;
  }

  &:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.15);
  }
}