/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
section {
  margin-top: 1em;
  border-top: 2px solid rgba(var(--color-text-on-content-background), 0.1);
  padding-top: 1em;

  app-form-field {
    display: block;
    margin-top: 0.5em;
  }

  textarea {
    display: block;
    width: 100%;
  }
}

.note {
  margin-top: 1em;
  font-size: 80%;
  font-style: italic;
  opacity: 0.6667;
}