/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
span {
  position: relative;
  display: inline-block;
  opacity: 0.3333;
}

.dot {
  padding-left: 0.25rem;
  animation: bouncing-dot 3s infinite linear;

  &.dot1 {
    animation-delay: 0.0s;
  }

  &.dot2 {
    animation-delay: 0.4s;
  }

  &.dot3 {
    animation-delay: 0.8s;
  }

  &.dot4 {
    animation-delay: 1.2s;
  }

  &.dot5 {
    animation-delay: 1.6s;
  }
}

@keyframes bouncing-dot {
  0% {
    transform: translateY(0);
    opacity: 0.3333;
  }

  10% {
    transform: translateY(-20%);
    opacity: 1;
  }

  20% {
    transform: translateY(0);
    opacity: 0.3333;
  }
}