app-social-link {
  display: block;
  font-size: 66.6667%;
  margin-top: 0.125rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.footnote {
  display: block;
  font-size: 66.6667%;
  margin-top: 0.125rem;
}

input,select {
  width: 100%;
}