<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<div [class.disabled]="updatingFollow">
  @if(profile.following)
  {
    <div>
      <p>
        <label for="personalNote">Personal Note ({{ profile.following.note ? profile.following.note.length : 0 }} / 255)</label>
        <textarea id="personalNote" [(ngModel)]="profile.following.note" maxlength="255"></textarea>
      </p>
      <p class="buttons">
        <button (click)="doUpdateNote()">Update Note</button>
        <button (click)="doStopFollowing()">Stop Following</button>
      </p>
    </div>
  }
  @else if(profile.id !== user?.id)
  {
    <p>
      <button (click)="doFollow()">+ Follow</button>
    </p>
  }
</div>
