/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
@use '../../stories' as stories;

:host {
  text-align: center;
  display: block;
  position: absolute;
  max-width: 240px;
  min-width: 180px;
  box-sizing: border-box;
  background-color: rgba(var(--color-content-background), 0.8);
  border-radius: 0.5em;
  padding: 0.5em;

  &.has-treasure {
    width: 240px;
  }

  &.pin-top {
    margin-top: 2em;
    transform: translate(-50%, #{stories.$star-kindred-map-y-offset});
  }

  &.pin-left {
    margin-left: 2em;
    transform: translate(0, calc(-50% + #{stories.$star-kindred-map-y-offset}));
  }

  &.pin-right {
    transform: translate(calc(-100% - 2em), calc(-50% + #{stories.$star-kindred-map-y-offset}));
  }

  &.pin-bottom {
    transform: translate(-50%, calc(-100% - 2em + #{stories.$star-kindred-map-y-offset}));
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    opacity: 0.8;
    border-right: 0.5em solid transparent;
    border-top: 1em solid rgb(var(--color-content-background));
    border-bottom: 1em solid transparent;
    border-left: 0.5em solid transparent;
  }

  &.pin-top::before {
    left: calc(50% - 0.5em);
    top: -1.95em;
    transform: rotate(180deg);
  }

  &.pin-bottom::before {
    left: calc(50% - 0.5em);
    bottom: -1.95em;
  }

  &.pin-left::before {
    top: calc(50% - 1em);
    transform: rotate(90deg);
    left: -1.45em;
  }

  &.pin-right::before {
    top: calc(50% - 1em);
    transform: rotate(270deg);
    right: -1.45em;
  }
}
