<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<div class="dialog">
  <h4>{{ petName }}</h4>
  <div class="tabs-container">
    <div class="tabs" role="tablist" [class.disabled]="loading">
      <button role="tab" (click)="doChangeTab('status')" [class.active]="tab === 'status'">Status</button>
      <button role="tab" (click)="doChangeTab('note')" [class.active]="tab === 'note'">Notes</button>
      <button role="tab" (click)="doChangeTab('logs')" [class.active]="tab === 'logs'">Logs</button>
      <button role="tab" (click)="doChangeTab('friends')" [class.active]="tab === 'friends'">Friends</button>
      <button role="tab" (click)="doChangeTab('skills')" [class.active]="tab === 'skills'">Skills</button>
      <button role="tab" (click)="doChangeTab('merits')" [class.active]="tab === 'merits'">Merits</button>
      <button role="tab" (click)="doChangeTab('badges')" [class.active]="tab === 'badges'">Badges</button>
    </div>
  </div>
  <div class="dialog-body">
    @if(tab === 'status')
    {
      <div>
        @if(!pet && loading)
        {
          <p><app-loading-throbber /></p>
        }
        @else if(pet) {
          <app-pet-status-effects-tab [pet]="pet" (onNavigate)="doClose()" />
        }
      </div>
    }
    @else if(tab === 'logs')
    {
      <div>
        @if(!logs)
        {
          <p><app-loading-throbber /></p>
        }
        @else if(logs.resultCount > 0)
        {
          <app-pet-logs-links [petId]="pet.id" [hasMultiplePages]="logs.pageCount > 1" [onClose]="doClose.bind(this)" />
          <app-pet-activity-log-table [logs]="logs.results" />
          <app-pet-logs-links [petId]="pet.id" [hasMultiplePages]="logs.pageCount > 1" [onClose]="doClose.bind(this)"></app-pet-logs-links>
        }
        @else
        {
          <p>This pet hasn't done anything yet! Anything at all!</p>
        }
      </div>
    }
    <div [hidden]="tab !== 'friends'">
      @if(viewedFriends)
      {
        <app-pet-friends [pet]="pet" (linkClick)="doClose()" />
      }
    </div>
    @if(tab === 'skills')
    {
      <div>
        <app-pet-skills-and-attributes-panel [pet]="pet" (clickedHelpLink)="doClose()" />
      </div>
    }
    @else if(tab === 'merits')
    {
      <div>
        <app-pet-merits [pet]="pet" />
      </div>
    }
    @else if(tab === 'badges')
    {
      <div [class.disabled]="loading">
        @if(pet.badges.length > 0)
        {
          <app-pet-badge-table [badges]="pet.badges" />
        }
        @else
        {
          <p>This pet has no badges...</p>
          <p style="opacity:0.8;font-style:italic;">(A couple easy first ones to get are from winning in a park event, and from correctly guessing the pet's favorite flavor!)</p>
        }
      </div>
    }
    @else if(tab === 'note')
    {
      <div [class.disabled]="loading">
        @if(choices.length > 0)
        {
          <p class="buttons">
            @for (choice of choices; track choice.value) {
              <button (click)="doMakeChoice(choice)">{{ choice.label }}</button>
            }
          </p>
          <hr>
        }
        <app-pet-notes [(pet)]="pet" (loading)="doLoading($event)" (done)="doClose()" />
      </div>
    }
  </div>
</div>
