<main>
  <h2>Wunderbuss</h2>
  @if(state === DialogState.AlreadyWished)
  {
    <app-npc-dialog npc="tool/gun/wunderbuss" name="Wunderboss" npcPath="items">
      <p>Ah. You return.</p>
      <p>I see.</p>
      <p>However, as per the terms of the contract set forth by Olfert Voorson over 300 years ago, you may only be granted one wish.</p>
    </app-npc-dialog>
    <ul class="dialog-choices">
      <li><button type="button" (click)="doAskWhoWunderbossIs()" class="link-text">"Who are you, again?"</button></li>
      <li><button type="button" (click)="doAskAboutTheContract()" class="link-text">"Maybe an exception could be made?"</button></li>
    </ul>
  }
  @else if(state === DialogState.AskAboutContract)
  {
    <app-npc-dialog npc="tool/gun/wunderbuss" name="Wunderboss" npcPath="items">
      <p>Hm? You question the terms of the contract?!</p>
      <p>Foolish.</p>
      <p>The terms of the contract are very clear. Section 144, paragraph 9: "Anyone who creates a Wunderbuss shall receive one (1) item, of their choice, delivered to the closest secure location accessible only to the Wunderbuss' creator."</p>
      <p>And don't bother asking - others already have - no, your houses are not "secure locations". Buckets of Liquid-hot Magma lying about! Portals to other worlds! <em>Dragons!</em><p>
      <p>No.</p>
      <p>This <em>Museum</em> of yours is clearly the closest, safest location accessible. You are, of course, entitled to debate this point, but I don't believe an Arbiter of sufficient experience in contracts of this kind will be available for a number years. The Morrígan were only recently able to employ the time of such an Arbiter, and they had to wait nearly 250 years; you should expect to wait a fair bit longer.</p>
    </app-npc-dialog>
    <ul class="dialog-choices">
      <li><button type="button" (click)="doRestartDialog()" class="link-text">"Oof. Okay, then."</button></li>
    </ul>
  }
  @else if(state === DialogState.AskAboutWunderboss)
  {
    <app-npc-dialog npc="tool/gun/wunderbuss" name="Wunderboss" npcPath="items">
      <p>What? Are humans really so forgetful?</p>
      <p>Ridiculous.</p>
      <p>Every concept has spirit which presides over it, and I am the spirit of the very <em>idea</em> of the Wunderbuss, created over 300 years ago by the contract of Olfert Voorson, the man who invented the first Wunderbuss by taking a weapon of cruelty and war, and transforming it into a tool of incontrovertible creation and wonder! A weapon against destruction itself!</p>
      <p>Many gods of war and death were infuriated by its creation, but Olfert had already enlisted the help of some of the most skilled Arbiters to write up a <em>bullet-proof</em> contract that not even a <em>god</em> could contravene! Several are still trying to find loopholes to this day, but I assure you: their efforts are in vain.</p>
      <p>Most brilliantly of all, Olfert's contract protects not only myself, but any who invoke my services, so you need not fear: though Mars, Futsunushi, and every Valkyrie may hate your soul until the end of time for having even <em>spoken</em> to me, you are protected from their eternal vengeance, direct, or indirect. Not even a Domovoy would dare tickle you on their behalf! Haha!</p>
    </app-npc-dialog>
    <ul class="dialog-choices">
      <li><button type="button" (click)="doRestartDialog()" class="link-text">"Interesting..."</button></li>
    </ul>
  }
  @else if(state === DialogState.MakeAWish || state === DialogState.MakingWish)
  {
    <app-npc-dialog npc="tool/gun/wunderbuss" name="Wunderboss" npcPath="items">
      <p>So! You've built one of my <em>glorious</em> contraptions!</p>
      <p>Good.</p>
      <p>I shall grant you one wish: ask for any item you want - any item at all - and I shall create it for you, sent directly to your Museum.</p>
    </app-npc-dialog>
    <ul class="dialog-choices">
      <li><button type="button" (click)="doAskWhoWunderbossIs()" class="link-text">"W&mdash; who are you?"</button></li>
      <li><button type="button" (click)="doAskAboutTheContract()" class="link-text">"Does it have to go to the Museum?"</button></li>
    </ul>
    <div [class.disabled]="state === DialogState.MakingWish">
      <app-find-item-by-name (valueChange)="doIt($event)" />
    </div>
  }
</main>
