<main>
  <h2>Poppyopedia</h2>
  <div>
    <a [routerLink]="[ '/poppyopedia/item' ]">
      <div style="background-image:url(/assets/images/ui/items.svg)"></div>
      <h4>Items</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/species' ]">
      <div style="background-image:url(/assets/images/ui/pets.svg)"></div>
      <h4>Species</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/merit' ]">
      <div style="background-image:url(/assets/images/ui/merits.svg)"></div>
      <h4>Merits</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/statusEffects' ]">
      <div style="background-image:url(/assets/images/ui/status-effects.svg)"></div>
      <h4>Status Effects</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/resident' ]">
      <div style="background-image:url(/assets/images/ui/directory.svg)"></div>
      <h4>Residents</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/pet' ]">
      <div style="background-image:url(/assets/images/ui/pet-directory.svg)"></div>
      <h4>Pets</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/spiritCompanion' ]">
      <div style="background-image:url(/assets/images/ui/companion-directory.svg)"></div>
      <h4>Spirit Companions</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/group' ]">
      <div style="background-image:url(/assets/images/ui/pet-groups.svg)"></div>
      <h4>Pet Groups</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/guild' ]">
      <div style="background-image:url(/assets/images/ui/guilds.svg)"></div>
      <h4>Pet Guilds</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/artists' ]">
      <div style="background-image:url(/assets/images/ui/artists.svg)"></div>
      <h4>Artists</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/help' ]">
      <div style="background-image:url(/assets/images/ui/glossary.svg)"></div>
      <h4>Glossary</h4>
    </a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSczeBLNsktkSBbPZjyooHw5sEVJOBimJDS6xgEgIgFJvgqM8A/viewform?usp=sf_link" target="_blank">
      <div style="background-image:url(/assets/images/ui/bug-report.svg)"></div>
      <h4>Report a Bug <small>(&#8599;&#xFE0E; link to Google form)</small></h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/designGoal' ]">
      <div style="background-image:url(/assets/images/ui/design-goals.svg)"></div>
      <h4>Design Goals</h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/howItsMade' ]">
      <div style="background-image:url(/assets/images/ui/how-is-it-made.svg)"></div>
      <h4>How Poppy Seed Pets is Made</h4>
    </a>
    <a href="http://benmakesgames.com" target="_blank">
      <div style="background-image:url(/assets/images/ui/other-games.svg)"></div>
      <h4>Other Games <small>(&#8599;&#xFE0E; link to benmakesgames.com)</small></h4>
    </a>
    <a [routerLink]="[ '/poppyopedia/privacyPolicy' ]">
      <div style="background-image:url(/assets/images/ui/privacy.svg)"></div>
      <h4>Cookies &amp; Privacy Policy</h4>
    </a>
  </div></main>
