<form (submit)="doLogIn()" [class.disabled]="loading">
  <p>
    <label for="logInEmail">Email</label>
    <input type="email" id="logInEmail" name="email" [(ngModel)]="email">
  </p>
  <p>
    <label for="logInPassphrase">Passphrase</label>
    <input type="password" id="logInPassphrase" name="passphrase" [(ngModel)]="passphrase">
  </p>
  <p>
    <label class="radio-checkbox" for="rememberMe"><input id="rememberMe" type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Remember me</label>
  </p>
  <div>
    <button type="submit">Log In</button>{{ ' ' }}
    @if(loading)
    {
      <app-loading-throbber text="" />
    }
  </div>
</form>
