/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.available-pets
{
  > button {
    background: transparent;
    display: flex;
    flex-direction: row;
    gap: 1em;
    text-align: left;
    color: var(--color-text-on-content-background);
    align-items: center;

    h5 {
      margin: 0;
    }
  }
}

.selected-members {
  position: sticky;
  top: 2em;
  background-color: rgb(var(--color-content-background));
  z-index: 1;
  margin: -0.5em -1em 0;
  padding: 0.5em 1em 0;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.selected-pets {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 1em;
  width: calc(3in + 1.5em);

  > * {
    background: rgb(var(--color-speech-bubble-background));
    padding: 0;
    border-radius: 50%;
    width: 1in;
    min-width: 1in;
    height: 1in;
    display: block;
  }
}