<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2><a [routerLink]="[ '/poppyopedia' ]">Poppyopedia</a> » Cookies &amp; Privacy Policy</h2>
  <h3>Cookies and Local Storage</h3>
  <p>Poppy Seed Pets uses cookies (well, technically, a related technology called "local storage") to remember who you are as you play the game.</p>
  <p>You can view the information Poppy Seed Pets (or any website!) is storing with these technologies by doing the following:</p>
  <p><small>(Mobile devices make this information harder to access. You may not be able to follow theses steps on a phone or tablet.)</small></p>
  <ol class="list">
    <li>Right-click (or long-touch) anywhere on the page.</li>
    <li>Choose "Inspect element" from the menu that appears.</li>
    <li>A developer interface will appear. On the top of this interface is a series of labels such as "Console", "Network", etc. Find the one labeled "Application" or "Storage" (the exact label depends on which browser you're using), and click it.</li>
    <li>You will now see a list of things like "Local Storage", "Cookies", etc. Explore these to see what information a website is keeping in your browser using these technologies.</li>
    <li>You can delete, add, or change the data here, but keep in mind that doing so may confuse the website you're using, and/or the website might reset or restore any values you modify or delete.</li>
  </ol>
  <p>The browser is not the only place that a website can store information, however! For example, you may notice that Poppy Seed Pets is only keeping your e-mail address and a session ID (once you log in) in local storage. All other information about your account (your pets and items, recipes you've performed, etc) is kept in a database somewhere far away on the internet.</p>
  <p>By storing it <em>not</em> on your device, I can make multiplayer features (such as the Market, Park, and Museum), and I can be sure that you can't cheat by just changing values in local storage :P</p>
  <p><small>P.S. It's up to your browser to ensure that information stored in cookies/etc by a website is not available to <em>other</em> websites. Browsers are typically very good at this, so Poppy Seed Pets should not have access to cookies/etc stored by other websites you use, and other websites should not have access to cookies/etc stored by Poppy Seed Pets.</small></p>
  <h3>Information About Your Device</h3>
  <p>In addition to information required for game play, Poppy Seed Pets collects some information about your device:</p>
  <ul class="list">
    <li>Your IP address</li>
    <li>What browser you're using</li>
    <li>The dimensions of your screen, and browser window</li>
    <li>The primary language your device is using (ex: English, German, etc)</li>
    <li>And other, related information that your browser and device are willing to share</li>
  </ul>
  <p>I use this information to guide development of the game (for example, by testing the game at screen widths <em>you</em> use), and keep servers running smoothly (for example, by banning aggressive bots).</p>
  <p>If you really don't like the idea of your browser and device giving this information to any website that asks, there are plugins and security software available that can mask some of this information!</p>
  <h3>Privacy Policy</h3>
  <p>Statistical information about players' devices, browsers, and in-game behavior may be shared with the Poppy Seed Pets community, or the rest of the world, via PSP news posts, YouTube videos I make, or discussions with other players on Discord, for example.</p>
  <p>Your pets, and other details about your account, may be copied and viewed in test environments, in order to debug issues, or test that new features will work for everyone.</p>
  <p>Besides the uses mentioned above, player data is not shared with (or sold to) any other party.</p>
</main>
