<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<div class="container">
  @if(monster.personalContribution)
  {
    <div class="personal-contribution" role="img" title="You have contributed to feeding this spirit.">
      <i class="fa-regular fa-smile"></i><span>{{ monster.personalContribution }}</span>
    </div>
  }
  <div class="progress-container" role="progressbar" [attr.aria-valuemax]="maxProgress" [attr.aria-valuenow]="monster.communityTotal">
    <div class="progress" [style.width.%]="percent * 100"></div>
  </div>
  @for(milestone of monster.milestones; track $index)
  {
    <div class="milestone" [class.end]="milestone.value === maxProgress" [style.left.%]="milestone.value * 100 / maxProgress">
      <div class="marker">
        <div>{{ milestone.value|numberWithUnits:1 }}</div>
        <button (click)="doShowItemPreview(milestone.item.name)" class="link-text">
          <img [src]="'/assets/images/items/' + milestone.item.image + '.svg'" [alt]="milestone.item.image" />
        </button>
      </div>
    </div>
  }
</div>
