<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <app-settings-panel page="Patreon">
    <p>If you support Poppy Seed Pets on Patreon, connect your account to get patron-only rewards in-game!</p>
    <p>
      <a class="button" [href]="'https://www.patreon.com/oauth2/authorize?scope=identity identity.memberships&response_type=code&client_id=' + patreonConfig.clientId + '&state=' + userId + '&redirect_uri=' + encodeURIComponent(patreonConfig.redirectUri)" target="_blank">Connect with Patreon</a>
    </p>
  </app-settings-panel>
</main>
