<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Forgetting Scroll</h2>

  @if(state === 'findPet')
  {
    <div [class.disabled]="loading">
      <h4>
        Which Pet?
        @if(loading)
        {
          <app-loading-throbber text=""/>
        }
      </h4>
      <app-select-pet (selected)="doSelectPet($event)" />
    </div>
  }
  @else if(state === 'forgetStuff')
  {
    <form (submit)="doForget()" [class.disabled]="loading">
      <h4>What Will {{ pet.name }} Forget?</h4>
      <p>
        <label>A Merit</label>
        @for(merit of merits; track merit)
        {
          <label [for]="'forget' + merit" class="radio-checkbox"><input [id]="'forget' + merit" type="radio" name="forget" [(ngModel)]="forget" [value]="'merit:' + merit"> {{ merit }}</label>
        }
      </p>
      <p>
        <label>A Skill ({{ pet.name }} is currently Level {{ pet.level }})</label>
        @for(skill of skills; track skill)
        {
          <label [for]="'forget' + skill" class="radio-checkbox"><input [id]="'forget' + skill" type="radio" name="forget" [(ngModel)]="forget" [value]="'skill:' + skill"> 1 point of {{ skill|titlecase }}</label>
        }
      </p>
      <p>
        <button type="submit" [class.disabled]="!forget">Forget!</button>
        {{ ' ' }}
        @if(loading)
        {
          <app-loading-throbber text=""/>
        }
      </p>
    </form>
  }
</main>
