/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.forecast {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 5in;
  grid-column-gap: 0.5rem;
}

.day {
  text-align: center;
}

.gap {
  padding: 1rem 0 1.5rem;
  > div {
    background: rgba(var(--color-text-on-content-background), 0.3333);
    width: 1px;
    height: 100%;
  }
}

.holidays {
  text-align: center;
  > img {
    display: inline-block;
    width: 0.25in;
  }
}
