<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
@if(!today)
{
  <app-loading-throbber [randomText]="true" />
}
@else
{
  <div class="forecast">
    <div class="today">
      <app-current-weather [sky]="today.sky" />
      <label class="day">Now</label>
      <div class="holidays">
        @if((currentDate|date:'EEEE':'UTC') === allowanceDayOfWeek)
        {
          <img src="/assets/images/items/box/fruits-n-veggies.svg" alt="Care Package" title="Care Package">
        }
        @for(holiday of today.holidays; track $index)
        {
          <img
            [src]="'/assets/images/calendar/holidays/' + (holiday|sluggify) + '.svg'"
            [alt]="holiday"
            [title]="holiday"
          />
        }
      </div>
    </div>
    <div class="gap"><div></div></div>
    @for(day of forecast; track $index)
    {
      <div>
        <app-current-weather [sky]="day.sky" />
        <label class="day">{{ day.date|date:'EEE':'UTC'}}</label>
        <div class="holidays">
          @if((day.date|date:'EEEE':'UTC') === allowanceDayOfWeek)
          {
            <img src="/assets/images/items/box/fruits-n-veggies.svg" alt="Care Package" title="Care Package">
          }
          @for(holiday of day.holidays; track $index)
          {
            <img
              [src]="'/assets/images/calendar/holidays/' + (holiday|sluggify) + '.svg'"
              [alt]="holiday"
              [title]="holiday"
            />
          }
        </div>
      </div>
    }
  </div>
}

