<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h3>Infinity Vault</h3>

  @if(!status)
  {
    <div><app-loading-throbber [randomText]="true" /></div>
  }
  @else
  {
    @if(!status.isOpen)
    {
      <p>The vault is <strong>closed</strong>.</p>
      @if(openSubscription.closed && statusAjax.closed)
      {
        <button (click)="doOpenVault()">Open Vault for 1 Hour (<app-moneys [amount]="status.openCost" />)</button>
      }
      @else
      {
        <button class="disabled">Open Vault for 1 Hour (<app-moneys [amount]="status.openCost" />) <app-loading-throbber text="" /></button>
      }
    }
    @else
    {
      <p>The vault is <strong>open</strong>. It will close again in <strong>{{ timeRemaining }}</strong>.</p>

      @if(!contents)
      {
        <div><app-loading-throbber text="Loading vault contents" /></div>
      }
      @else if(contents.resultCount === 0)
      {
        <p>The vault is empty.</p>
      }
      @else
      {
        <p><app-url-paginator [pageCount]="contents.pageCount" [page]="page" path="/infinityVault" /></p>
        <div class="vault-items" [class.disabled]="!contentsAjax.closed">
          @for(item of contents.results; track item.id)
          {
            <button class="wire vault-item" (click)="doStartMoveOut(item)">
              <div class="item-image">
                <img [src]="'/assets/images/items/' + item.itemImage + '.svg'" [alt]="item.itemName" />
                <span class="quantity">&times; {{ item.quantity }}</span>
              </div>
              <strong>{{ item.itemName }}</strong>
              @if(item.makerName)
              {
                <small>Made by {{ item.makerName }}</small>
              }
            </button>
          }
        </div>
        <p><app-url-paginator [pageCount]="contents.pageCount" [page]="page" path="/infinityVault" /></p>
      }
    }
  }
</main>
