h4 {
    background-color: rgb(var(--color-primary));
    color: rgb(var(--color-text-on-primary));
    padding: 0.25rem 1rem;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}
