<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2><a [routerLink]="['/poppyopedia']">Poppyopedia</a> » Spirit Companions</h2>
  @if(!results)
  {
    <div><app-loading-throbber /></div>
  }
  @else
  {
    <p>Found {{ results.resultCount }} {{ results.resultCount === 1 ? 'spirit companion' : 'spirit companions' }}.</p>
    <p><app-paginator [(page)]="page" [pageCount]="results.pageCount" (change)="doSearch()"/></p>
    <table [class.disabled]="!searchAjax.closed">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Star</th>
          <th>Pet</th>
        </tr>
      </thead>
      <tbody>
        @for(spiritCompanion of results.results; track spiritCompanion.id)
        {
          <tr>
            <td>
              <img [src]="'/assets/images/companions/' + spiritCompanion.image + '.svg'" class="spirit-companion" [alt]="spiritCompanion.image" />
            </td>
            <td>
              {{ spiritCompanion.name }}
              <small>#{{ spiritCompanion.id }}</small>
            </td>
            <td>
              {{ spiritCompanion.star }}
            </td>
            <td>
              <a [routerLink]="[ '/poppyopedia/pet/' + spiritCompanion.pet.id ]">
                {{ spiritCompanion.pet.name }}
                <small>#{{ spiritCompanion.pet.id }}</small>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <p><app-paginator [(page)]="page" [pageCount]="results.pageCount" (change)="doSearch()"/></p>
  }
</main>
