<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2><a [routerLink]="[ '/poppyopedia' ]">Poppyopedia</a> » Species</h2>
  <form (submit)="doSearch()" [class.disabled]="!resultsSubscription.closed">
    <p>
      <label for="speciesName">Name (or part thereof)</label>
      <input id="speciesName" name="speciesName" type="text" [(ngModel)]="search.name">
    </p>
    @if(user?.id)
    {
      <p>
        <label>I Have One</label>
        <app-input-yes-no-both [(value)]="search.hasPet" />
      </p>
      @if(user|hasUnlockedFeature:'Zoologist')
      {
        <p>
          <label>Shown to Zoologist?</label>
          <app-input-yes-no-both [(value)]="search.hasDiscovered" />
        </p>
      }
    }
    <p>
      <button type="submit">Search</button>
    </p>
  </form>
  @if(!results)
  {
    <div><app-loading-throbber /></div>
  }
  @else
  {
    <p>Found {{ results.resultCount }} species.</p>
    @if(results.resultCount > 0)
    {
      <p><app-url-paginator path="/poppyopedia/species" [page]="page" [pageCount]="results.pageCount" [params]="{ filter: search }" /></p>
      <section class="species" [class.disabled]="!resultsSubscription.closed">
        @for(item of results.results; track item.id)
        {
          <a [routerLink]="[ '/poppyopedia/species/' + item.name ]" class="button link-text">
            <img class="pet-image" [src]="'/assets/images/pets/' + item.image + '.svg'" alt="" />
            <div class="name link-text">{{ item.name }}</div>
            <div class="family">{{ item.family|titlecase }}</div>
          </a>
        }
      </section>
      <p><app-url-paginator path="/poppyopedia/species" [page]="page" [pageCount]="results.pageCount" [params]="{ filter: search }" /></p>
    }
  }
</main>
