<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
@if(loading)
{
  <p><app-loading-throbber /></p>
}
@else
{
  @if(relationships.unfilteredTotal === 0)
  {
    <p>This pet does not know any other pets.</p>
  }
  @if(relationships.pageCount > 1)
  {
    <app-paginator [pageCount]="relationships.pageCount" [page]="relationships.page" (pageChange)="loadPage($event)" />
  }
  <div style="margin-bottom:0.5rem">
    @for(friend of relationships.results; let i = $index; track $index)
    {
      <app-pet-friend
        class="friend"
        (click)="doViewFriend(friend)"
        tabindex="0"
        role="button"
        [pet]="pet"
        [friend]="friend"
        [showRating]="i + relationships.page * relationships.pageSize < pet.maximumFriends"
      />
    }
  </div>
  @if(relationships.pageCount > 1)
  {
    <app-paginator [pageCount]="relationships.pageCount" [page]="relationships.page" (pageChange)="loadPage($event)" />
  }
}