<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2><a routerLink="/poppyopedia">Poppyopedia</a> » Merits</h2>
  @if(!results)
  {
    <p><app-loading-throbber /></p>
  }
  @else
  {
    <div>
      <p><app-url-paginator [pageCount]="results.pageCount" [page]="results.page" path="/poppyopedia/merit" /></p>
      <div class="merits" [class.disabled]="loading">
        @for(merit of results.results; track merit.name)
        {
          <div>
            <h4>{{ merit.name }}</h4>
            <markdown [data]="merit.description"></markdown>
          </div>
        }
      </div>
      <p><app-url-paginator [pageCount]="results.pageCount" [page]="results.page" path="/poppyopedia/merit" /></p>
    </div>
  }
</main>
