<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2><a routerLink="/poppyopedia">Poppyopedia</a> » Guilds</h2>
  @if(!guilds)
  {
    <p><app-loading-throbber/></p>
  }
  @else
  {
    <ul>
      @for(guild of guilds; track guild.id)
      {
        <li>
          <a [routerLink]="'/poppyopedia/guild/' + guild.id">
            <img [src]="'/assets/images/guilds/' + guild.emblem + '.svg'" [alt]="guild.name + ' emblem'">
            <span>{{ guild.name }}</span>
          </a>
        </li>
      }
    </ul>
  }
</main>
