<main class="no-padding">
  @if(!story)
  {
    <div style="padding:1em"><app-loading-throbber [randomText]="true" /></div>
  }
  @else
  {
    <img [src]="'/assets/images/star-kindred/' + story.releaseYear + '/' + story.releaseMonth + '/map.svg'" class="map" alt="adventure map" />
    @if(story.isDark)
    {
      <div id="spotlight" #Spotlight></div>
    }
    @for(complete of completedSteps; track $index)
    {
      @if(complete.adventureStep.type === 'Story')
      {
        <button
          class="completed-mission link-text"
          (click)="doShowStory(complete)"
          [style.left.px]="complete.adventureStep.x * 1024 / 100"
          [style.top.px]="complete.adventureStep.y * 1024 / 100"
        >
          <img src="/assets/images/star-kindred/complete-story.svg" alt="completed story mission">
        </button>
      }
      @else
      {
        <img
          class="completed-mission"
          src="/assets/images/star-kindred/complete.svg"
          [style.left.px]="complete.adventureStep.x * 1024 / 100"
          [style.top.px]="complete.adventureStep.y * 1024 / 100"
          alt="completed mission"
        />
      }
    }
    @for(step of availableSteps; track step.id)
    {
      <app-mission-pin
        [class.pin-left]="step.pinOverride === 'Left'"
        [class.pin-right]="step.pinOverride === 'Right'"
        [class.pin-bottom]="step.pinOverride === 'Bottom'"
        [class.pin-top]="step.pinOverride === 'Top'"
        [style.left.px]="step.x * 1024 / 100"
        [style.top.px]="step.y * 1024 / 100"
      >
        <h4>{{ step.title }}</h4>
        <p class="mission-type">{{ step.type|missionTitle }} <app-help-link link="starKindred" /></p>
        <p><app-describe-pet-range [min]="step.minPets" [max]="step.maxPets" /></p>
        @if(canAdventure)
        {
          <div class="buttons centered" [class.disabled]="!storySubscription.closed">
            <button type="button" class="full-width" (click)="doAssignToMission(step)">Choose Pets</button>
          </div>
        }
        @else
        {
          <p style="font-style:italic;">You've already played today.</p>
        }
      </app-mission-pin>
    }
  }
</main>
