@import '../../stories.scss';

main {
  padding: $star-kindred-map-y-offset 0 0;
  position: relative;
  overflow: auto;
  z-index: 0;
  max-width: 1024px;

  > app-loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

img.map {
  width: 1024px;
  display: block;
  position: absolute;
  z-index: -100; // below all objects
  left: 0;
  top: 0;
  margin-top: $star-kindred-map-y-offset;
}

img.completed-mission {
  position: absolute;
  transform: translate(-50%, calc(-50% + $star-kindred-map-y-offset));
  width: 20px;
}

button.completed-mission {
  position: absolute;
  transform: translate(-50%, calc(-50% + $star-kindred-map-y-offset));

  > img {
    width: 20px;
    display: block;
  }
}

.cannot-start {
  font-style: italic;
  opacity: 0.5;
}

app-mission-pin:hover {
  z-index: 1;
}

app-mission-pin > h4 {
  margin-bottom: 0;
}

.mission-type {
  font-size: 80%;
}

#spotlight {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transform-origin: center;
  background-color: rgba(0, 0, 0, 0.8);
  mask-image: radial-gradient(min(max(25vw, 25vh), 200px) at 50% 50%, transparent 100%, black 100%);
}
