<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <div id="start-playing">
    <div id="banner">Poppy Seed Pets is a free virtual pet game set on an island filled with magic and strange technology...</div>
    <img src="/assets/images/ui/harbor.svg" id="harbor" alt="a large research vessel at harbor; someone is disembarking, pulling a wheely suitcase behind them">
    @if(!user)
    {
      <div class="options">
        <button type="button" (click)="doLogIn()">Log in</button>
        <a routerLink="/register" class="button" [class.notice-me]="callAttentionToSignUpButton">Adopt a Pet</a>
      </div>
    }
  </div>
  <div class="speech-bubble news-article" [class.contains-image]="article && article.imageUrl">
    @if(!article)
    {
      <p><app-loading-throbber text="Loading latest news" /></p>
    }
    @else
    {
      @if(article.imageUrl)
      {
        <div class="image" [style.background-image]="'url(/assets/images/news/' + article.imageUrl + '.png)'"></div>
      }
      <header>
        <h3>
          {{ article.title }}
          <small>written {{ article.createdOn|date:'yyyy-MM-dd':'UTC' }} <app-psp-time [date]="article.createdOn" /></small>
        </h3>
      </header>
      @if(article)
      {
        <markdown [data]="article.body" />
      }
      <app-list-design-goals [goals]="article.designGoals" />
    }
  </div>
  @if(article)
  {
    <a class="read-more-news" [routerLink]="[ '/news' ]">View older updates &raquo;</a>
  }
</main>
