<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Four-oh-whaaaaaaaaaat?</h2>
  <app-npc-dialog [npc]="npc" [name]="name">
    <p>Four-oh-<em>four</em>.</p>
  </app-npc-dialog>
  <ul class="dialog-choices">
    <li><a class="button" routerLink="/">"Oh, uh, my bad. I'll head back to the home page, I guess."</a></li>
    <li><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSczeBLNsktkSBbPZjyooHw5sEVJOBimJDS6xgEgIgFJvgqM8A/viewform?usp=sf_link" target="_blank">"I'm <em>pretty</em> sure I shouldn't have got a 404... I'd like to report a bug!"</a></li>
  </ul>
</main>