<main>
  <h2>Four-oh-whaaaaaaaaaat?</h2>
  <app-npc-dialog [npc]="npc" [name]="name">
    <p>Four-oh-<em>four</em>.</p>
  </app-npc-dialog>
  <ul class="dialog-choices">
    <li><a class="button" routerLink="/">"Oh, uh, my bad. I'll head back to the home page, I guess."</a></li>
    <li><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSczeBLNsktkSBbPZjyooHw5sEVJOBimJDS6xgEgIgFJvgqM8A/viewform?usp=sf_link" target="_blank">"I'm <em>pretty</em> sure I shouldn't have got a 404... I'd like to report a bug!"</a></li>
  </ul>
</main>