<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Scroll of Illusions</h2>

  @if(state === 'findPet')
  {
    <div>
      <h4>Whose Tool Will Be Enchanted?</h4>
      <app-select-pet (selected)="doSelectPet($event)" />
    </div>
  }
  @else if(state === 'chooseAppearance')
  {
    <div>
      <h4>What Appearance Should {{ pet.name }}'s {{ pet.tool.item.name }} Take?</h4>
      <app-pet-appearance [pet]="pet" />
      <p style="font-size:80%;margin-top:1rem;">(Only items you've donated to <a routerLink="/museum">the Museum</a> may be selected.)</p>
      <div [class.disabled]="enchanting">
        <app-find-item-by-name (valueChange)="doEnchant($event)" />
      </div>
    </div>
  }
</main>
