<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <div class="profile-contents">
    <small><a [routerLink]="['/poppyopedia']">Poppyopedia</a> » <a [routerLink]="[ '/poppyopedia/resident' ]">Resident</a> »</small>
    <h2>
      @if(profile)
      {
        <app-player-name [player]="profile" /> (#{{ profile.id }})
      }
      @else
      {
        #{{ profileId }}
      }
    </h2>
    @if(loadingProfile)
    {
      <p><app-loading-throbber /></p>
    }
    @else if(!profile)
    {
      <p>No such person exists...</p>
    }
    @else
    {
      @if(!loadingProfile && user)
      {
        <app-follow-unfollow [profile]="profile" />
      }
      <div class="pets-grid">
        @for(pet of pets; track pet.id)
        {
          <a [routerLink]="[ '/poppyopedia/pet/' + pet.id ]" class="link-text">
            <app-pet-appearance [pet]="pet" />
            <p>{{ pet.name }}</p>
          </a>
        }
      </div>
      <hr style="margin-top:1rem">
      <ul class="list" style="font-size:80%;">
        @if(user && profileTheme)
        {
          <li>
            <button class="link-text" (click)="doUseTheme()" [class.disabled]="!useThemeSubscription.closed">Use this player's theme as your own</button>{{ ' ' }}
            @if(!useThemeSubscription.closed)
            {
              <app-loading-throbber [text]="''"/>
            }
          </li>
        }
        <li><a [routerLink]="[ '/poppyopedia/resident/' + profile.id + '/petShelter' ]">View pets in Pet Shelter</a></li>
        <li><a [routerLink]="[ '/museum/' + profile.id ]">View Museum donations</a></li>
      </ul>
      @if(links && links.length > 0)
      {
        <h3 style="font-size:80%; margin-bottom:0">Personal Links</h3>
        <ul class="list" style="font-size:80%;">
          @for(link of links; track $index)
          {
            <li><app-social-link [link]="link" /></li>
          }
        </ul>
      }
      @if((mantle && mantle.length > 0) || stocking)
      {
        <h2>Mantle</h2>
        @if(stocking)
        {
          <div class="stocking">
            <app-image [path]="'stockings/' + stocking.appearance" [colors]="{ colorA: stocking.colorA, colorB: stocking.colorB }" width="0.6in" height="0.6in" />
            <span>Stocking</span>
          </div>
        }
        @if(mantle && mantle.length > 0)
        {
          <div class="inventory">
            @for(i of mantle; track $index)
            {
              <app-inventory-item [inventory]="i" />
            }
          </div>
        }
      }
    }
  </div>
</main>
