/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
textarea {
  width: 100%;
  box-sizing: border-box;
}

.stocking {

  position: relative;

  > app-image {
    display: block;
  }

  > span
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5in;
  }
}

main {
  position: relative;

  > .profile-contents {
    position: relative;
  }

  > .wallpaper {
    position: absolute;
    top: 2.3333rem;
    max-height: calc(100% - 2.3333rem);
    left: 0;
    z-index: 0;

    &.repeat-x {
      mask-repeat: repeat-x;
    }

    &.repeat-y {
      mask-repeat: repeat-y;
    }

    &.repeat-both {
      mask-repeat: repeat;
    }
  }
}
