.theme {
  border: 1px solid transparent;
}

.player-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
}

.name {
  padding: 0.25rem 0.5rem;
}

.preview {
  padding: 0.5rem;
}
.buttons {
  padding: 0 0.5rem;
  text-align: center;
}