<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
@if(changes.food)
{
  <app-vague-change [change]="changes.food" label="Food" />
}
@if(changes.safety)
{
  <app-vague-change [change]="changes.safety" label="Safety" />
}
@if(changes.love)
{
  <app-vague-change [change]="changes.love" label="Love" />
}
@if(changes.esteem)
{
  <app-vague-change [change]="changes.esteem" label="Esteem" />
}
@if(changes.level)
{
  <app-vague-change [change]="changes.level" label="Level" />
}
@else if(changes.exp)
{
  <app-vague-change [change]="changes.exp" label="XP" />
}
@if(changes.scrollLevel)
{
  <app-vague-change [change]="changes.scrollLevel" label="📜" />
}
@if(changes.affectionLevel)
{
  <app-vague-change [change]="changes.affectionLevel" label="♥" />
}
@else if(changes.affection)
{
  <app-vague-change [change]="changes.affection" label="☺" />
}
