<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<div class="relationship-container">
  <app-pet-appearance [pet]="friend.relationship" size="0.75in" />
  <div>
    <h5 class="link-text">{{ friend.relationship.name }}</h5>
    @if(showRating)
    {
      <app-heart-meter [commitment]="friend.commitment / 2" />
    }
    <p>
      {{ friend.metDescription }} {{ pet.name }} and {{ friend.relationship.name }} {{ DESCRIBE_CURRENT_RELATIONSHIP[friend.currentRelationship] }}.
      @if(friend.relationshipWanted && friend.relationshipWanted != friend.currentRelationship)
      {
        {{ pet.name }} would like to {{ DESCRIBE_GOAL_RELATIONSHIP[friend.relationshipWanted] }}.
      }
    </p>
  </div>
</div>
