/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.species {
  width: 1in;
  height: 1in;
  display: block;
  margin: 0 auto;
  position: relative;

  > img {
    position: absolute;
    bottom: 0.1in;

    &:not(.flipX) {
      left: -0.1in;
    }

    &.flipX {
      right: -0.1in;
    }
  }

  > img.egg {
    width: 0.5in;
    height: 0.5in;
  }

  > img.pet {
    position: absolute;
    width: 1in;
    height: 1in;
    top: 0;
    left: 0;
  }
}

h2 > small {
  display: inline;
}
