/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.shop-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  justify-content: center;

  @media (max-width: 414px)
  {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(var(--color-speech-bubble-background));
  border-radius: 5px;
  padding: 0.75em;
  gap: 0.5em;
}

.item-image-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(var(--color-speech-bubble-background));
  padding: 0;
}

.item-image {
  position: relative;
  width: 48px;
  height: 48px;

  > img:first-child {
    width: 100%;
    height: 100%;
    display: block;
  }
}

button.link-text {
  text-align: center;
}

button.buy-button {
  margin-top: auto;
  width: 100%;
}
