/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
.container {
  display: flex;
  flex-direction: row;
  gap: 1em;

  @media (max-width: 480px)
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

app-donut-chart {
  width: 100%;
  max-width: 320px;

  @media (max-width: 480px) {
    width: 60vw;
  }
}

.legend {
  width: 320px;
  margin: 0;
  list-style: none;

  @media (max-width: 480px)
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.5em;
    align-content: center;
  }
}


.legend span {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
}

