<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<nav class="tabs-container">
  <div class="tabs" role="tablist">
    <a role="tab" [class.active]="active === 'Visuals'" routerLink="/settings/visuals">Visuals</a>
    <a role="tab" [class.active]="active === 'Audio'" routerLink="/settings/audio">Audio</a>
    <a role="tab" [class.active]="active === 'Behavior'" routerLink="/settings/behavior">Behavior</a>
    <a role="tab" [class.active]="active === 'Following'" routerLink="/settings/following">Following</a>
    <a role="tab" [class.active]="active === 'Followers'" routerLink="/settings/followers">Followers</a>
    <a role="tab" [class.active]="active === 'MyProfile'" routerLink="/settings/myProfile">My Profile</a>
    <a role="tab" [class.active]="active === 'MyAccount'" routerLink="/settings/myAccount">My Account</a>
    <!--<a role="tab" [class.active]="active === 'Patreon'" routerLink="/settings/patreon">Patron Rewards</a>-->
  </div>
</nav>
