<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<div class="pet" [class.disabled]="!pet.hat">
  <app-pet-appearance [pet]="pet" />
  <div>
    <h4>{{ pet.name }}</h4>
    @if(!pet.hat)
    {
      <p style="margin:0">Not wearing a hat!</p>
    }
    @else
    {
      <p>Wearing <app-item-name-with-bonus [item]="pet.hat.item" [bonus]="pet.hat.enchantment" /></p>
      <p style="margin:0">
        <button type="button" (click)="doSelect()">{{ buttonText }}</button>
      </p>
    }
  </div>
</div>
