/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
markdown {
  display: block;
  margin-bottom: 1em;
}

.rewards {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;

  > li {
    margin: 0;
    position: relative;

    > img {
      display: block;
      width: 3em;
      height: 3em;
      border-radius: 5px;
      background-color: #fff;

      &.decorations {
        background-color: #29a33f;
      }
    }

    > span {
      position: absolute;
      bottom: -0.5em;
      right: -0.5em;
      border-radius: 1em;
      background-color: #666;
      padding: 0.25em 0.5em;
      color: #eee;
      font-size: 80%;
    }
  }
}
