/*
 * This file is part of the Poppy Seed Pets Webapp.
 *
 * The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
 */
:host {
  display: block;
  z-index: var(--z-index-nav);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6667);

  transition: background-color 0.3s ease;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#snow {
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3333;

  background-image: url('/assets/images/ui/nav-weather/snow-1.png'), url('/assets/images/ui/nav-weather/snow-2.png'), url('/assets/images/ui/nav-weather/snow-3.png');
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}